*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	position: relative;
	min-height: 100vh;
	font-family: "PFBulletinSansProRegular";
	background: $body-background-color;
}

.container {
    padding: 22px 14px;
}