// // ===== ЦВЕТА =====
$primary-color: #fff;
$secondary-color: #D0CBC3;
$body-background-color: #292929;
$background-color: rgba(255, 255, 255, 0.1);
$background-red-color: #E94245;
$background-red-hover-color: #e64b4e;
$shadow-color: rgba(0, 0, 0, 0.3);
$blue-color: #2563eb;

// toast colors
$success-gradient-color: linear-gradient(135deg, rgba(76, 175, 80, 0.95) 0%, rgba(56, 142, 60, 0.95) 100%);
$error-gradient-color: linear-gradient(135deg, rgba(244, 67, 54, 0.95) 0%, rgba(211, 47, 47, 0.95) 100%);
$warning-gradient-color: linear-gradient(135deg, rgba(255, 152, 0, 0.95) 0%, rgba(245, 124, 0, 0.95) 100%);
$info-gradient-color: linear-gradient(135deg, rgba(33, 150, 243, 0.95) 0%, rgba(25, 118, 210, 0.95) 100%);

// checkbox colors
$checkbox-primary-color: #3b82f6;
$checkbox-background-disabled-color: #f3f4f6;
$checkbox-border-disabled-color: #d1d5db;
$checkbox-label-disabled-color: #9ca3af;

// router-link
$router-link-background-hover-color: rgba(255, 255, 255, 0.3);
$router-link-main-color: linear-gradient(120deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0) 100%);
$router-link-active-border-color: #DBD6CE;
$router-link-active-background-color: linear-gradient(to right, #e53935, #f76c6c);

//open-app
$open-app-don-color: linear-gradient(135deg, $background-red-color 0%, $blue-color 100%);
$open-app-copy-color: linear-gradient(135deg, #11998e 0%, #38ef7d 100%);
$open-app-re-color: linear-gradient(135deg, #281199 0%, #3853ef 100%);
$open-app-shadow-color: rgba(106, 130, 251, 0.3);
$open-app-shadow-hover-color: rgba(106, 130, 251, 0.5);
$open-app-shadow-copy-color: rgba(56, 239, 125, 0.3);
$open-app-shadow-copy-hover-color: rgba(56, 239, 125, 0.5);
$open-app-shadow-re-color: rgba(69, 5, 206, 0.3);
$open-app-shadow-re-hover-color: rgba(69, 5, 206, 0.5);

// preloader
$preloader-bg-color: gba(41, 41, 41, 0.8);
$preloader-spinner-color: rgba(255, 255, 255, 0.1);